.font-raleway{
  font-family: "Raleway", sans-serif;
}

.font-inter{
  font-family: "Inter", sans-serif;
}
.containers{
  margin: 0 auto;
  max-width: 1170px;
}

.button:hover{
  background-color: rgb(140, 226, 140);
  color: white;
  cursor: pointer;
}